@page
@model BookListRazor.Pages.BookList.Index

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>Index Book</h1>
</div>
</body>
</html>
